@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
 --icon-color: #fff; /* Dark mode color */}

[data-theme="dark"] {
 --icon-color: #000; /* Default (light mode) color */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Imprima', sans-serif;
}

.container{
  @apply max-w-6xl mx-auto px-4
}
.hero-bg{
  @apply pattern min-h-[300px] grid place-content-center;
}
.hero-text{
  background: var(--background);
  @apply text-center text-3xl font-extrabold
}

.pattern {
  background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(171, 171, 171, 0.2) 49.5%, /* Gray color with 20% opacity */
      rgba(153, 153, 153, 0.6) 50.5%, /* Gray color with 60% opacity */
      transparent 50.5%
  );
  background-size: 130px 100%; 
  background-position: center;
  background-repeat: repeat-x;
}

@media (max-width: 640px) {
  .pattern {
      background-size: 100px 100%; /* Adjusts to 100px gap on smaller screens */
  }
}

.card_grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-6;
}

.card_grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
}

.bg-toggle{
  @apply bg-white dark:bg-[#333333];
}

.border-toggle{
  @apply  border-[#222222] dark:border-[#f6f6f6]
}

.text-toggle{
  @apply text-gray-600 dark:text-[#b9b9b9]
}
/* Custom placeholder color */
.placeholder-custom-color::placeholder {
  color: #6B7280; /* Tailwind gray-500 color, adjust as needed */
}

.flex-between{
  @apply flex items-center justify-between
}

.startup-card{
  @apply p-8 rounded border-2 border-gray-500 text-sm
}

.hover{
  @apply hover:text-gray-500 hover:border-secondary
}
.category_style{
  @apply border-primary text-primary border-2 px-2 rounded-full bg-blue-50 dark:bg-blue-950
}

.startup-card_btn{
  @apply px-2 py-[1.84px] rounded-full bg-black border-2  border-black dark:bg-white dark:border-white hover:border-gray-500 hover:bg-gray-500 text-[#f6f6f6] dark:text-black w-16 text-center
} 
.action_btn{
  @apply bg-black border-2  border-black dark:bg-white dark:border-white hover:border-gray-500 hover:bg-gray-500 text-[#f6f6f6] dark:text-black  text-center
}